/* make icons pop out on load */
/* order: spotify-icon, github-icon, cv-icon, linkedin-icon*/

/* SPOTIFY ICON ANIMATION */
#spotify-icon {
  visibility: hidden;

  animation: spotifyAnimate .8s 1;
  visibility: visible;
}

@keyframes spotifyAnimate {
  0% {
    visibility: visible;
    transform: scale(0);
  }

  60% {
    visibility: visible;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

/* GITHUB ICON ANIMATION */
#github-icon {
  visibility: hidden;

  animation: githubAnimate .9s 1;
  visibility: visible;
}

@keyframes githubAnimate {
  0% {
    visibility: hidden;
    transform: scale(0);
  }

  16% {
    visibility: visible;
    transform: scale(0);
  }

  64% {
    visibility: visible;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

/* CV ICON ANIMATION */
#cv-icon {
  visibility: hidden;

  animation: cvAnimate 1s 1;
  visibility: visible;
}

@keyframes cvAnimate {
  0% {
    visibility: hidden;
    transform: scale(0);
  }

  24% {
    visibility: visible;
    transform: scale(0);
  }

  66% {
    visibility: visible;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}

/* LINKEDIN ICON ANIMATION */
#linkedin-icon {
  visibility: hidden;

  animation: linkedinAnimate 1.1s 1;
  visibility: visible;
}

@keyframes linkedinAnimate {
  0% {
    visibility: hidden;
    transform: scale(0);
  }

  26% {
    visibility: visible;
    transform: scale(0);
  }

  68% {
    visibility: visible;
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    visibility: visible;
  }
}